.App {
  text-align: center;
  justify-content: center;
  background-color: black;
  
}

.cardsBox {
  margin: 0 auto;
  justify-content: center;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  bottom: 0;
  left: 0;
  width: 100%;
}



